<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

  <title>Archives</title>
</head>
<body class="inner-page">

  <header class="main-header inner-main-header">
    <div class="container clearfix">
      <div class="logo">
        <img src="img/rebel-logo-blue.svg" width="28px" height="31px" alt="rebel-logo">
        <span>rebel weekly</span>
      </div>
      <nav class="main-nav">
        <ul>
          <li class="search-block">
            <form action="" method="get">
              <input class="search" type="search" name="search">
            </form>
          </li>
          <li class="search-item"><a href="#">Поиск</a></li>
          <li><a href="#">Новый выпуск</a></li>
          <li class="active"><span>Архив</span></li>
          <li><a href="#">RSS</a></li>
        </ul>
      </nav>
    </div>

  </header>

  <main class="container">

    <h1 class="title">архив</h1>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #007</a> - <time datetime="2014-10-20">Окт 20, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React. На этот раз
          это попытка программировать на Ruby и компилировать этот код в
          React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JaВыпуск #006vaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
      </ul>
    </div>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #006</a> - <time datetime="2014-10-14">Окт 14, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React. На этот раз
          это попытка программировать на Ruby и компилировать этот код в
          React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JaВыпуск #006vaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
        <li><b>Быстрый рендеринг с DOM шаблонизаторами</b>. Альтернативный взгляд
          на проблемы рендеренга в JS SPAприложениях, про + и - в таких
          фреймворках как Angular, React, и презентация своего велосипеда, с
          интересными идеями.</li>
      </ul>
    </div>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #005</a> - <time datetime="2014-10-07">Окт 07, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React.
          На этот раз это попытка программировать на Ruby и компилировать этот
          код в React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JavaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
        <li><b>Быстрый рендеринг с DOM шаблонизаторами</b>. Альтернативный взгляд
          на проблемы рендеренга в JS SPAприложениях, про + и - в таких
          фреймворках как Angular, React, и презентация своего велосипеда, с
          интересными идеями.</li>
      </ul>
    </div>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #004</a> - <time datetime="2014-10-20">Окт 20, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React.
          На этот раз это попытка программировать на Ruby и компилировать этот
          код в React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JavaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
        </ul>
    </div>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #003</a> - <time datetime="2014-10-14">Окт 14, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React.
          На этот раз это попытка программировать на Ruby и компилировать этот
          код в React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JavaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
        <li><b>Быстрый рендеринг с DOM шаблонизаторами</b>. Альтернативный взгляд
          на проблемы рендеренга в JS SPAприложениях, про + и - в таких
          фреймворках как Angular, React, и презентация своего велосипеда, с
          интересными идеями.</li>
      </ul>
    </div>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #002</a> - <time datetime="2014-10-07">Окт 7, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React.
          На этот раз это попытка программировать на Ruby и компилировать этот
          код в React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JavaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
        <li><b>Быстрый рендеринг с DOM шаблонизаторами</b>. Альтернативный взгляд
          на проблемы рендеренга в JS SPAприложениях, про + и - в таких
          фреймворках как Angular, React, и презентация своего велосипеда, с
          интересными идеями.</li>
      </ul>
    </div>

    <div class="content-archive">
      <h2>
        <a href="#">Выпуск #001</a> - <time datetime="2014-10-07">Окт 07, 2016</time>
      </h2>
      <ul class="item-list">
        <li><b>Hyperloop</b>. Очередная попытка совместить Ruby и React.
          На этот раз это попытка программировать на Ruby и компилировать этот
          код в React</li>
        <li><b>Yarn</b>. Facebook представил Yarn, новый пакетный менеджер для
          JavaScript</li>
        <li><b>A Javascript journey with only six characters</b>. Интересный разбор
          как можно хаками и трюками программировать реальный код на JS сведя
          все это всего к 6 символам</li>
      </ul>
    </div>

  </main>

  <footer>
    <div class="container">
      <picture>
        <source  media="(min-width: 1440px)" srcset="img/rebel-weekly-logo-light/rebel-weekly-logo-light@3x.png">
        <source media="(min-width: 1024px)" srcset="img/rebel-weekly-logo-light/rebel-weekly-logo-light@2x.png">
        <img src="img/rebel-weekly-logo-light/rebel-weekly-logo-light.png" alt="rebel-weekly-light">
      </picture>
    </div>
  </footer>


</body>
</html>
